<div class="pagination-nav" *ngIf="!!getItemsPerPageOptions().length">
  <section class="pagination-block">
    <ul>
      <li class="pagination-nav-link" *ngFor="let page of getPaginationView()">
        <a (click)="handlePageNumberChange($event)">{{ page }}</a>
      </li>
    </ul>
  </section>
  <section class="pagination-block">
    <ul>
      <li class="pagination-nav-link" *ngFor="let option of getItemsPerPageOptions()">
        <a [id]="option" (click)="handleItemsPerPageChange(option)">{{ option }}</a>
      </li>
    </ul>
  </section>
</div>
