<div class="pagination-nav" *ngIf="!!getItemsPerPageOptions().length">
  <div class="pagination-block">
    <ul>
      <li *ngFor="let page of getPaginationView()">
        <a href="#" (click)="handlePageNumberChange($event)">{{ page }}</a>
      </li>
    </ul>
  </div>
  <div class="pagination-block">
    <ul>
      <li *ngFor="let option of getItemsPerPageOptions()">
        <a [id]="option" href="#" (click)="handleItemsPerPageChange(option)">{{ option }}</a>
      </li>
    </ul>
  </div>
</div>
