.pagination-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagination-nav {
  margin: auto;
}

.pagination-nav-link {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.pagination-nav-link:hover {
  background-color: black;
  color: white;
}


