<div class="search-block">
  <section class="sort-section">
    <select (change)="onSortChange($event)">
      <option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{ sortOption.label }}</option>
    </select>
  </section>
  <section class="search-section">
      <input [(ngModel)]="searchWord" />
      <button (click)="handleSearch()">Search</button>
      <span *ngIf="searchWord">
        <button (click)="onRemoveButtonClick()">Remove</button>
      </span>
  </section>
</div>