<figure class="item" (click)="togglePopup()">
  <img [src]="item.webImage.url" [alt]="item.title" *ngIf="item.webImage; else withoutImg" />
  <figcaption>{{ item.title }}</figcaption>
  <ng-template #withoutImg>
    <p class="no-picture">No picture found</p>
  </ng-template>
</figure>
<div class="popup-background" *ngIf="isShown">
  <div class="popup">
    <div class="popup-grid-container">
      <div class="popup-grid-item popup-content-section">
        <img [src]="item.webImage.url" [alt]="item.title" *ngIf="item.webImage; else withoutImg" />
      </div>
      <div class="popup-grid-item popup-content-section">
        <h2>{{ item.title }}</h2>
        <p>{{ item.longTitle }}</p>
        <p>{{ item.principalOrFirstMaker }}</p>
      </div>
      <div class="popup-grid-item popup-btn-section">
        <button>View more details</button>
      </div>
      <div class="popup-grid-item popup-btn-section">
        <button (click)="togglePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
