<div class="content">
  <header>
    <h1>Rijksmuseum</h1>
  </header>
  <div class="search">
    <app-search (onSearch)="handleSearch($event)" (onSort)="handleSort($event)"></app-search>
  </div>
  <div class="grid-container">
    <app-list-item [item]="item" *ngFor="let item of items; trackBy: identify"></app-list-item>
    <!--   <app-list [list]="items"></app-list> -->
  </div>
  <div class="navigate">
    <app-pagination
      [totalItemsCount]="totalItemsCount"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (onItemsPerPageChange)="handleItemsPerPageChange($event)"
      (onPageNumberChange)="handlePageNumberChange($event)"
    ></app-pagination>
  </div>
</div>
