<figure class="item" (click)="togglePopup()">
  <img [src]="item.headerImage.url" [alt]="item.title" *ngIf="item.headerImage; else withoutImg" />
  <figcaption>{{ item.title }}</figcaption>
  <ng-template #withoutImg>
    <p class="no-picture">No picture found</p>
  </ng-template>
</figure>
<div class="popup-background" *ngIf="isShown">
  <div class="popup-wrapper">
    <header class="popup-title">
      <h2>{{ item.title }}</h2>
    </header>
    <section class="popup-item-info-section">
        <figure class="popup-item-picture">
          <img [src]="item.headerImage.url" [alt]="item.title" />
        </figure>
        <article class="popup-item-description">
          <h3>{{ item.longTitle }}</h3>
          <p>{{ item.principalOrFirstMaker }}</p>
        </article>
    </section>
    <footer class="popup-button-group">
      <button class="popup-button" (click)="goToDetailsPage()">View more details</button>
      <button class="popup-button" (click)="togglePopup()">Close</button>
    </footer>
  </div>
</div>