<div *ngIf="isLoading; else showItems" class="loading"></div>
<ng-template #showItems>
    <div *ngIf="isDetailsPresent; else showErrorMessage" class="details-content-wrapper">
        <header class="details-header">
            <h1>{{ details.title }}</h1>
        </header>
        <main class="details-main-content">
            <section class="details-info">
                <figure class="details-picture" *ngIf="details?.hasImage">
                    <img [src]="details?.webImage.url" [alt]="details.title"/> 
                </figure>
                <section class="details-description">
                    <p><span class="details-description-title">Description:</span> {{ details.description }}</p>
                    <p><span class="details-description-title">Principal of first maker:</span> {{ details.principalOrFirstMaker }}</p>
                    <p><span class="details-description-title">Materials: </span>
                        <span class="details-link-to-search-word" *ngFor="let material of details?.materials">
                            <a
                                [routerLink]="['']"
                                [queryParams]="{q: getEncodedQuery(material)}"
                            >{{ material }}</a>
                        </span>
                    </p>
                    <p><span class="title">Dating:</span> {{details?.dating.yearEarly}} - {{ details?.dating.yearLate}}</p>
                </section>
            </section>
            <section class="details-navigation">
                <button (click)="goToMainPage()">To Main Page</button>
            </section>
        </main>
    </div>
    <ng-template #showErrorMessage>
        <section class="details-not-found">
        <h1>Sorry... Details are not available</h1>
        <p>Please return to <a [routerLink]="['']">Main page</a></p>
        </section>
    </ng-template>

</ng-template>